// Breakpoints
// =========================================

$screen-sm-min							: 768px;
$screen-md-min							: 991px;
$screen-lg-min							: 1200px;

// Typo
// =========================================

$base-font-size							: 16px;
$base-line-height						: $base-font-size + 10;
$base-text-color						: #666;
$base-heading-color						: #333;
$base-font-family						: 'Source Sans Pro', sans-serif;
$base-link-color						: $base-text-color;
$strong-font-weight						: 700;