// Breakpoints
// =========================================

$screen-sm-min							: 768px;
$screen-md-min							: 991px;
$screen-lg-min							: 1200px;
$screen-xl-min                          : 1600px;

// Typo
// =========================================

$base-font-size							: 16px;
$base-line-height						: $base-font-size + 10;
$base-text-color						: #666;
$base-heading-color						: #333;
$base-font-family						: 'Source Sans Pro', sans-serif;
$base-link-color						: $base-text-color;
$strong-font-weight						: 700;

// Forms
// =========================================

$form-input-height						: 34px;
$form-input-padding						: 0 10px;
$form-input-border						: 1px solid #ddd;
$form-input-border-radius				: 3px;
$form-input-bottom-margin				: 10px;